[submodule "sub_module_1"]
	path = sub_module_1
	url = https://github.com/abadger/test_submodules_subm1_newer
[submodule "sub_module_2"]
	path = sub_module_2
	url = https://github.com/Akasurde/test_submodules_subm2.git
